* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.semibold {
  font-weight: 600;
}

.light {
  font-weight: 200;
}

img {
  display: block;
  max-width: 100%;
}

.box {
  background-color: aliceblue;
  position: relative;
  width: 311px;
  height: 222px;
  padding: 29px;
  margin: 23px;
  box-shadow: ;
}
